@font-face {
    font-family: "Tex";
    font-weight: 400;
    src: url(./fonts/texgyreadventor-regular.otf) format("opentype");
}

@font-face {
    font-family: "Tex";
    font-weight: bold;
    src: url(./fonts/texgyreadventor-bold.otf) format("opentype");
}

@font-face {
    font-family: "Aquire";
    font-weight: 400;
    src: url(./fonts/AquireBold-8Ma60.otf) format("opentype");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-family: "Tex", sans-serif;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    /* background-image: url(https://i.ibb.co/b3BW0Nh/background-main.png); */
    background-color: #fff;
}

a {
    text-decoration: none;
}

/* LOGIN PAGE */
.authentication {
    width: 50%;
    padding: 20px 30px;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 20px;
}

.form__side {
    width: 75%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__side .header {
    font-size: 1.35rem;
    font-weight: bold;
    color: #444;
    margin: 10px 0;
}

.form__side .form__input {
    width: 65%;
    border-radius: 25px;
    background: #fff;
    margin: 5px;
    display: flex;
    align-items: center;
    position: relative;
}

.form__side .form__input i {
    font-size: 1.05rem;
    position: absolute;
    left: 20px;
}

.form__side .form__input input {
    width: 100%;
    border: none;
    outline: none;
    padding: 12px 20px;
    padding-left: 50px;
    border-radius: 25px;
    font-size: 0.95rem;
    color: #000;
}

.action {
    width: 50%;
    border: none;
    outline: none;
    background: #000;
    color: #fff;
    font-size: 0.95rem;
    padding: 10px 0;
    margin-top: 20px;
    text-transform: uppercase;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}

/* DASHBOARD */
.index__page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index__page.blur {
    filter: blur(3px);
}

.vertical__navigation {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    min-height: 85%;
    border-radius: 25px;
    margin-right: 10px;
}

.vertical__navigation a {
    display: flex;
    justify-content: center;
}

.application__name {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.application__name img {
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
}

.application__name .name {
    font: 2.75rem Aquire, sans-serfi;
    margin-left: 10px;
    color: #000;
}

.nav__item {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    padding: 0 30px;
}

.nav__item.active {
    background: #f4feff;
    border-radius: 35px;
    padding: 30px 25px;
    transition: 1s;
}

.nav__item i {
    font-size: 1.75rem;
    color: #000;
}

.nav__item .label {
    font-size: 1.05rem;
    font-weight: bold;
    margin-left: 15px;
}

.nav__item.active i,
.nav__item.active .label {
    font-weight: bold;
}

.nav__item.active i {
    color: #00d3d6;
}

.dashboard {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    padding: 0 30px;
    border-radius: 10px;
    position: relative;
}

.dashboard__header {
    flex-basis: 10%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.dashboard__title {
    font-size: 1.55rem;
    font-weight: bold;
}

.search__box {
    flex-basis: 25%;
    position: relative;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.search__box input {
    width: 100%;
    background: #f2f5fa;
    border: none;
    outline: none;
    padding: 10px;
    padding-left: 45px;
    font-size: 1.05rem;
    color: #6c6c6c;
    border-radius: 30px;
}

.search__box i {
    position: absolute;
    left: 15px;
    font-size: 1.05rem;
    color: #6c6c6c;
    cursor: pointer;
}

.admin {
    flex: 1;
    display: flex;
    text-align: right;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.admin .basic__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 10px;
}

.admin .basic__info .admin__name {
    font-size: 1.15rem;
    font-weight: bold;
}

.admin .basic__info .sign__out {
    cursor: pointer;
}

.admin img {
    border-radius: 50%;
    box-shadow: 0 14px 40px rgba(0, 0, 0, 0.15);
}

/*----------------------- Filter ---------------------*/
.filter {
    width: 100%;
    flex-basis: 7%;
    display: flex;
    align-items: center;
}

.filter .filter__item {
    margin: 0 20px;
    font-size: 0.95rem;
    font-weight: bold;
    position: relative;
    padding-bottom: 10px;
    cursor: pointer;
}

.filter .filter__item.active::before {
    content: "";
    position: absolute;
    width: 45%;
    border-top: 2px solid #000;
    bottom: 0;
}

/*-----------------------  Table content -----------------------*/
.custom__table {
    flex-basis: 76%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.blur {
    filter: brightness(0.15);
    pointer-events: none;
    user-select: none;
}

.table__header {
    flex-basis: 5%;
    margin-bottom: 10px;
}

.table__header,
.table__content__row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 10px;
}

.table__content__row {
    padding: 15px 0;
    cursor: pointer;
}

.table__content.deactive {
    pointer-events: none;
    user-select: none;
}

/* .table__content__row:hover {
    background: #f2f5fa;
    border-radius: 20px;
    transition: 0.5s;
} */

.col__10 {
    width: 15%;
}

.col__13 {
    width: 15%;
}

.col__7 {
    width: 10%;
}

.col__20 {
    width: 18%;
}

.col__15 {
    width: 18%;
}

.col__23 {
    width: 25%;
}

.col__25 {
    width: 20%;
}

.table__header__label,
.table__content__col {
    font-size: 1.05rem;
    font-weight: bold;
}

.col__mix {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.col__mix img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.col__mix .name {
    font-size: 1.05rem;
    font-weight: bold;
}

.table__content {
    flex: 1;
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: 0;
}

.table__content::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.table__content::-webkit-scrollbar-thumb {
    background: transparent;
}

.table__content__action {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.table__content__action i {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    transition: 0.75s;
    margin-right: 5px;
}

.table__content__action i:hover {
    background: #000;
    color: #fff;
}

.row__action {
    font-size: 0.85rem;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 20px;
    margin-right: 5px;
    border-radius: 10px;
    color: #0d0c02;
    transition: 0.5s;
}

.row__action.details {
    background: #111;
}

.row__action.disable {
    background: #f3f3f4;
}

.row__action.disable:hover {
    background: #b9b9b9;
}
/*----------------------- Pagination -----------------------*/
.pagination {
    flex: 1;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.pagination__item {
    font-size: 0.95rem;
    font-weight: bold;
    margin: 0 10px;
    cursor: pointer;
}

.pagination__item.active {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #000;
    color: #fff;
}

/*----------------------- Modal -----------------------*/
.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    opacity: 0;
    transition: 1.5s;
}

.message__modal,
.success__modal {
    position: fixed;
    z-index: -1;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    padding: 20px 0;
    opacity: 0;
    margin-top: -10%;
    transition: 0.5s;
}

.success__modal img {
    width: 120px;
}

.message__modal.visible,
.success__modal.visible {
    z-index: 20;
    opacity: 1;
    margin-top: 0;
}

.confirm__title {
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.message__modal .group__action {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.message__modal p,
.success__modal p {
    font-size: 1.05rem;
    width: 85%;
    margin: 10px 0;
}

.success__modal p {
    text-align: center;
}

.success__modal p {
    margin: 20px 0;
}

.message__modal p.confirm {
    font-weight: bold;
}

.message__modal .group__action span,
.success__modal span {
    font-size: 0.85rem;
    font-weight: bold;
    text-transform: uppercase;
    background: #f3f3f4;
    color: #0d0c22;
    padding: 8px 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.75s;
    margin-right: 10px;
}

.message__modal .group__action span:hover,
.success__modal span:hover {
    background: #b9b9b9;
}

/* .message__modal span.confirm__action,
.success__modal span.confirm__action {
    background: #01c33b;
    margin-left: 15px;
    padding: 8px 20px;
} */

.modal.visible {
    opacity: 1;
    z-index: 10;
}

.modal__mask {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
    max-height: 65%;
    min-height: 65%;
    opacity: 0;
    overflow: hidden;
    overflow-y: scroll;
    transition: 0.35s;
}

.modal.visible .modal__mask {
    max-height: 95%;
    min-height: 95%;
    opacity: 1;
}

.modal__mask::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.modal__mask::-webkit-scrollbar-thumb {
    background: transparent;
}

.modal__body {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 10px;
    padding-bottom: 20px;
}

.modal__header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 25%;
}

.modal__header .title {
    flex-basis: 30%;
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
}

.close {
    font-size: 2.05rem;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    margin-right: 20px;
}

.modal__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    min-height: 15vh;
}

.content__title {
    font-size: 0.85rem;
    font-weight: bold;
    color: #444;
    margin-top: 5px;
}

.request__details {
    width: 50%;
}

.position,
.place,
.section__info {
    display: flex;
    flex-wrap: nowrap;
}

.section__info {
    flex-wrap: wrap;
}

.position,
.section__info {
    justify-content: space-between;
}

.section__info {
    max-height: 65vh;
    overflow: hidden;
    overflow-y: scroll;
}

.section__info::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.section__info::-webkit-scrollbar-thumb {
    background: transparent;
}

.place,
.section__info__item {
    flex-basis: 49%;
    background: #fafafb;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
}

.base33 {
    flex-basis: 33%;
}

.section__info__item.fill {
    flex-basis: 100%;
}

.section__info__item {
    display: flex;
    flex-direction: column;
}

.place .icon {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.place .icon i {
    font-size: 1.75rem;
    color: #444;
}

.place .position__name,
.driver .feedback {
    font-size: 0.85rem;
    font-weight: bold;
    color: #444;
}

.place__details {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.place__name,
.section__info__item .driver__name,
.section__info__item .license__plate {
    font-size: 0.95rem;
    font-weight: bold;
}

.date__time {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date__time .item {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.date__time .item img {
    width: 30px;
    height: 30px;
}

.date__time .item .value {
    font-weight: bold;
    font-size: 0.95rem;
}

.modal__content .title {
    font-size: 0.85rem;
    font-weight: bold;
    color: #444;
}

.rating {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 5px;
}

.rating i {
    color: #ff0000;
    margin-right: 2px;
    font-size: 0.65rem;
}

.ambulance__images {
    display: flex;
    margin-top: 5px;
}

.ambulance__images img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-right: 10px;
}

.section__info__item .item {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
}

.section__info__item .value {
    font-weight: bold;
    font-size: 0.95rem;
}

.user__image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.content__row {
    flex-direction: row;
    align-items: center;
}

.feedback__request__item {
    display: flex;
    flex-direction: column;
    flex-basis: 49%;
    background: #fafafb;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
}

.user__feedback {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.user__feedback .title {
    font-size: 0.85rem;
}

.user__feedback .badge {
    padding: 2px 5px;
    border-radius: 5px;
    background: #ff7300;
    color: #fff;
    margin-left: 10px;
}

.user__details {
    display: flex;
    flex-direction: column;
    right: 0;
    position: absolute;
    width: 10%;
    max-height: 100%;
    min-height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    padding: 20px 10px;

    border-left: 0.05rem solid rgba(0, 0, 0, 0.15);
    border-radius: 0 10px 10px 0;
    transition: 0.5s;
    opacity: 0;
    z-index: -1;
}

.user__details.visible {
    width: 30%;
    z-index: 10;
    opacity: 1;
    background: #fff;
}

.user__details .header {
    display: flex;
    align-items: center;
    position: relative;
}

.user__details .fa-times-circle {
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    right: 10px;
    color: #737381;
    cursor: pointer;
}

.user__details .title {
    font-size: 1.05rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 40px;
}

.user__details::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.user__details::-webkit-scrollbar-thumb {
    background: transparent;
}

.feedback__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.feedback__item .request {
    font-size: 1.05rem;
    font-weight: bold;
    color: rgb(37, 37, 37);
    margin-bottom: 20px;
}

.feedback__item .feedback {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.feedback__item .requester {
    display: flex;
    padding: 10px 20px;
    border-radius: 15px;
}

.feedback__item .requester img {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(144, 144, 144);
    border-radius: 50%;
    padding: 3px;
}

.feedback__item .requester p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.feedback__item .requester .requester__name {
    font-size: 0.95rem;
    font-weight: bold;
    color: #383838 !important;
}

.feedback__item .requester .description {
    font-size: 0.85rem;
    color: #3d3d4e;
}

.history {
    width: 98%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 0.05rem solid #08054160;
}

.history:last-child {
    border: none;
    padding: 0;
}

.history .title {
    font-size: 0.95rem;
    font-weight: bold;
    color: #070442;
}

.history .overview {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.history .overview span {
    font-size: 0.75rem;
    font-weight: bold;
    background: #e1edf1;
    color: #000;
    padding: 2px 10px;
    border-radius: 5px;
}

.history .type {
    /* background: #000; */
    margin-right: 5px;
}

.history .place {
    padding: 10px 0;
    background: #f2f5fa;
}

.place img {
    width: 32px;
}

.position__details {
    display: flex;
    flex-direction: column;
}

.date__time .item i {
    font-size: 1.15rem;
    margin-right: 10px;
    color: #3d3d4e;
}

.date__time .item .value {
    color: #3d3d4e;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.wrapper.blur {
    filter: brightness(0.85);
}

.registered__profile {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.registered__item {
    flex-basis: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.registered__item img {
    width: 85%;
    height: 250px;
    border-radius: 10px;
}

.registered__item .image__title {
    font-weight: bold;
    font-size: 0.95rem;
}

.registered__item input {
    width: 85%;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    background: #f2f5fa;
    margin-top: 10px;
    font-size: 0.95rem;
}

.registered__profile .group__action {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.registered__profile .group__action span {
    padding: 8px 35px;
    font-size: 0.95rem;
    font-weight: bold;
    margin-right: 10px;
    border-radius: 10px;
    transition: 0.75s;
    color: #0d0c22;
    background: #f3f3f4;
    transition: 0.75s;
}

.registered__profile .group__action span:hover {
    border: none;
    cursor: pointer;
    background: #b9b9b9;
}

.spinner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner img {
    position: absolute;
}

.spinner .outer {
    width: 200px;
    height: 200px;
}

.spinner .inner {
    width: 140px;
    height: 140px;
}

/* REPORT PAGE  */
.report {
    flex: 1;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    padding: 10px 20px;
}

.report__data {
    flex-basis: 65%;
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.report .title {
    font-size: 1.15rem;
    font-weight: bold;
    margin-bottom: 25px;
}

.system {
    flex-basis: 30%;
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    background: #f2f5fa;
    border-radius: 50px;
    padding: 15px 10px 10px 40px;
}

.report__data .data {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 25%;
}

.chart {
    width: 50%;
    height: 100%;
}

.report__data .details {
    display: flex;
    margin-left: 30px;
    width: 50%;
    justify-content: space-between;
}

.report__data .status__report {
    flex-basis: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f2f5fa;
    border-radius: 35px;
}

.report__data .status__report img {
    width: 90px;
}

.report__data .status__report h3 {
    font-size: 1.85rem;
    font-weight: bold;
    margin-top: 10px;
    text-transform: capitalize;
}

.report__data .status__report span {
    font-size: 0.85rem;
    color: #6c6c6c;
}

.report__data .status__report .status__name {
    font-size: 1.35rem;
    font-weight: bold;
    color: #000;
    margin-top: 10px;
}

.ambulance__requests {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.ambulance__requests .driver {
    flex-basis: 30%;
    display: flex;
    align-items: center;
}

.ambulance__requests .driver span {
    flex: 1;
}

.ambulance__requests .row {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 0;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.ambulance__requests .row:last-child {
    border: none;
}

.ambulance__requests img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.ambulance__requests .ambulance span {
    flex-basis: 25%;
    font-size: 0.95rem;
    font-weight: bold;
    color: #353535;
}

.system .config {
    flex-basis: 65%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.system .config .item {
    width: 100%;
}

.system .config p {
    font-size: 0.95rem;
    font-weight: bold;
    color: #3d3d4e;
    margin: 10px 0;
}

.system .config input {
    min-width: 100%;
    border: none;
    outline: none;
    padding: 10px 15px;
    background: #fff;
    border-radius: 5px;
    font-size: 1.05rem;
}

.system .config .save {
    margin-top: 30px;
    padding: 10px 25px;
    background: #000;
    color: #fff;
    font-size: 0.95rem;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.75s;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.15);
}

.system .config .save:hover {
    background: none;
    color: #000;
    border: 1px solid #000;
    box-shadow: none;
}

.system .progress {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.system .circle {
    width: 55%;
    fill: none;
    stroke: #191919;
    stroke-width: 15;
    stroke-linecap: round;
}

.noInfo {
    font-size: 1.05rem;
    font-weight: bold;
    color: #666;
}

.status {
    display: flex;
}

.status__value {
    font-size: 0.95rem;
    padding: 4px 25px 4px 25px;
    border-radius: 20px;
    flex-basis: 85%;
    text-align: center;
}
