@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@font-face {
    font-family: "Tex";
    font-weight: 400;
    src: url(./fonts/texgyreadventor-regular.otf) format("opentype");
}

@font-face {
    font-family: "Tex";
    font-weight: bold;
    src: url(./fonts/texgyreadventor-bold.otf) format("opentype");
}

@font-face {
    font-family: "Aquire";
    src: url(./fonts/AquireBold-8Ma60.otf) format("opentype");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-family: Tex;
}

#root {
    min-height: 100vh;
    background-image: url("https://i.ibb.co/b3BW0Nh/background-main.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}

a {
    text-decoration: none;
}

/* LOGIN PAGE */
.authentication {
    width: 50%;
    padding: 20px 30px;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 20px;
}

.form__side {
    width: 75%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__side .header {
    font-size: 1.35rem;
    font-weight: bold;
    color: #444;
    margin: 10px 0;
}

.form__side .form__input {
    width: 65%;
    border-radius: 25px;
    background: #fff;
    margin: 5px;
    display: flex;
    align-items: center;
    position: relative;
}

.form__side .form__input i {
    font-size: 1.05rem;
    position: absolute;
    left: 20px;
}

.form__side .form__input input {
    width: 100%;
    border: none;
    outline: none;
    padding: 12px 20px;
    padding-left: 50px;
    border-radius: 25px;
    font-size: 0.95rem;
    color: #000;
}

.action {
    width: 50%;
    border: none;
    outline: none;
    background: #000;
    color: #fff;
    font-size: 0.95rem;
    padding: 10px 0;
    margin-top: 20px;
    text-transform: uppercase;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}

/* DASHBOARD */
.index__page {
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 10px 0;
}

.vertical__navigation {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    background: none;
}

.application__name {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.application__name img {
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
}

.application__name .name {
    font: 2.75rem Aquire, sans-serfi;
    margin-left: 10px;
}

.nav__item {
    width: 80%;
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 0 30px;
}

.nav__item.active {
    background: #315bef;
    border-radius: 35px;
    padding: 15px 30px;
    box-shadow: 15px 15px 40px rgba(49, 91, 239, 0.4);
    transition: 0.75s;
}

.nav__item i {
    font-size: 1.05rem;
}

.nav__item .label {
    font-size: 1.05rem;
    font-weight: bold;
    margin-left: 15px;
}

.nav__item.active i,
.nav__item.active .label {
    color: #fff;
    font-weight: bold;
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.4);
    padding: 0 30px;
    border-radius: 20px;
}

.dashboard__header {
    flex-basis: 10%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.dashboard__title {
    font-size: 1.55rem;
    font-weight: bold;
}

.search__box {
    flex-basis: 25%;
    position: relative;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.search__box input {
    width: 100%;
    background: #fff;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 1.05rem;
    color: #6c6c6c;
    border-radius: 30px;
}

.search__box i {
    position: absolute;
    right: 15px;
    font-size: 1.05rem;
    color: #6c6c6c;
}

.admin {
    flex: 1;
    display: flex;
    text-align: right;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.admin .basic__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 10px;
}

.admin .basic__info .admin__name {
    font-size: 1.15rem;
    font-weight: bold;
}

.admin .basic__info .sign__out {
    cursor: pointer;
}

.admin img {
    border-radius: 50%;
    box-shadow: 0 14px 40px rgba(0, 0, 0, 0.15);
}

/*----------------------- Filter ---------------------*/
.filter {
    flex-basis: 10%;
    display: flex;
    align-items: center;
}

.filter .filter__item {
    margin: 0 20px;
    font-size: 0.95rem;
    font-weight: bold;
    position: relative;
    padding-bottom: 10px;
}

.filter .filter__item.active::before {
    content: "";
    position: absolute;
    width: 45%;
    border-top: 2px solid #000;
    bottom: 0;
}

/*-----------------------  Table content -----------------------*/
.custom__table {
    flex-basis: 73%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.table__header {
    flex-basis: 5%;
    margin-bottom: 10px;
}

.table__header,
.table__content__row {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.col__10 {
    width: 10%;
}

.col__13 {
    width: 13%;
}

.col__7 {
    width: 7%;
}

.col__20 {
    width: 20%;
}

.col__15 {
    width: 15%;
}

.table__header__label,
.table__content__col {
    font-size: 1.05rem;
    font-weight: bold;
    margin: 0 20px;
}

.col__mix {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.col__mix img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.col__mix .name {
    font-size: 1.05rem;
    font-weight: bold;
}

.table__content {
    flex: 1;
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
}

.table__content::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.table__content::-webkit-scrollbar-thumb {
    background: transparent;
}

.table__content__row {
    margin: 15px 0;
}

.table__content__action {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 20px;
    align-items: center;
}

.table__content__action i {
    font-size: 1.05rem;
    margin-right: 10px;
    cursor: pointer;
}

/*----------------------- Pagination -----------------------*/
.pagination {
    flex: 1;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.pagination__item {
    font-size: 0.95rem;
    font-weight: bold;
    margin: 0 10px;
}

.pagination__item.active {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #000;
    color: #fff;
}
